* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main {
    display: grid;
    grid-template-columns: 10fr 2fr;
    grid-template-rows: minmax(100px, auto);
    grid-template-areas: "navbar navbar" "content menu" "footh footh";
}

.navbar .flex .logo {
    font-size: 3rem;
}

.navbar {
    grid-area: navbar;
    background-color: #13A063;
    justify-content: space-between;
}

.navbar .flex {
    padding: 1rem;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.navbar .flex .item a {
    color: white;
    background-color: #fc283d;
    margin-top: 100px;
    margin: 3rem;
    border-radius: 6px;
    padding: 10px;
    padding-top: 20px;
}

.navbar .flex .item a:hover {
    background-color: #a82633;
}

a {
    text-decoration: none;
}

.content p {
    font-size: larger;
}

.content {
    background-color: #FCFFFC;
    grid-area: content;
    min-height: 92vh;
    padding: 20px;
}

table {
    align-content: space-between;
}

.content table {
    margin: 50px auto;
    text-align: center;
    border-collapse: collapse;
    width: 50%;
}

.content table tr th,
table tr td {
    padding: 6px;
}

.content table tr td a {
    text-align: center;
    padding: 5px;
    margin: 0 5px;
    border-radius: 3px;
    text-decoration: none;
    color: black;
}

.menu {
    grid-area: menu;
    text-align: center;
    color: white;
    background-color: #2D3A3A;
}

header {
    margin-left: 20px;
    text-align: center;
    font-size: 2.3rem;
    padding: 10px
}

.menu ul {
    list-style: none;
}

.menu ul li:hover {
    background-color: white;
    color: #2D3A3A;
}

.menu ul li {
    padding: 10px;
    margin: 18px;
    margin-right: 30px;
    margin-left: 0px;
    color: white;
    border: solid white;
    border-width: 1px;
    border-radius: 5px;
}

.footh {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 12px;
    color: white;
    background-color: #040F0F;
    grid-area: footh;
}