* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.main {
    display: grid;
    grid-template-columns: 9fr 1.5fr;
    grid-template-rows: minmax(100px, auto);
    grid-template-areas: "navbar navbar" "content menu" "footh footh";
}

.navbar .flex .logo {
    font-size: 3rem;
}

.navbar {
    grid-area: navbar;
    background-color: #13A063;
    justify-content: space-between;
}

.navbar .flex {
    padding: 1rem;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.navbar .flex .item a {
    color: white;
    background-color: #fc283d;
    margin-top: 100px;
    margin: 3rem;
    border-radius: 6px;
    padding: 10px;
    padding-top: 20px;
}

.navbar .flex .item a:hover {
    background-color: #a82633;
}

.content {
    font-size: larger;
    padding: 10px;
    margin: 0;
}

.content p {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

.card {
    padding: 20px;
    box-shadow: 0px 2px 4px 0px rgb(0, 0, 0, 028);
    border-radius: 6px;
    margin-top: 25px;
    margin: auto;
    width: 900px;
    height: auto;
}

.card form input:not(.nop) {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(187, 187, 187);
}

.card form input {
    margin: 16px;
}

.card form input:focus {
    border-color: hsl(217, 71%, 53%);
}

.card form button {
    background-color: hsl(217, 71%, 53%);
    border: none;
    padding: 10px;
    border-radius: 6px;
    color: white;
    font-size: 1rem;
}

.card form button:hover {
    cursor: pointer;
    background-color: hsl(217, 72%, 44%);
}

.menu {
    grid-area: menu;
    text-align: center;
    color: white;
    background-color: #2D3A3A;
}

header {
    margin-left: 20px;
    text-align: center;
    font-size: 2.3rem;
    padding: 10px
}

.menu ul {
    list-style: none;
}

.menu ul li:hover {
    background-color: white;
    color: #2D3A3A;
}

.menu ul li {
    padding: 10px;
    margin: 18px;
    color: white;
    border: solid white;
    border-width: 1px;
    border-radius: 5px;
}

.footh {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 12px;
    color: white;
    background-color: #040F0F;
    grid-area: footh;
}